<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <style>
        html {
            font-family: monospace;
            font-size: 120%;
            background-color: black;
            color: lightgreen;
        }
        .chat_line {
            border-bottom: dotted 2px lightgreen;
            padding: 5px;
            margin: 0;
        }
        .chat_line:first-of-type {
            border-top: dotted 2px lightgreen;
        }
        .chat_line .username {
            font-weight: bold;
            font-style: italic;
        }
    </style>
    </head>
    <body>
        <h1>Chat</h1>

        <div id="app">
            <!-- FIXME 2: Blende die "Seiten" der App korrekte ein und aus -->
            <div v-if="state.page === 'ask_username'">
                <!-- FIXME 1: Verbinde das Template mit dem JS Code -->
                <input type="text" placeholder="Username"
                    v-model="state.username">&nbsp;
                <button @click="join_chat()">Join chat room</button>
            </div>
            <div v-if="state.page === 'chat'">
                <!-- FIXME 4: Zeige die Chatnachrichte (Autor:in und Message) an -->
                <p class="chat_line" v-for="message in state.messages">
                    <span class="username">{{ message.username }}: {{message.message }}</span>
                <p>
                    <input type="text" placeholder="Enter message"
                        v-model="state.message">&nbsp;
                    <button @click="send_message()">Send!</button>
                </p>
                <p>
                    <button @click="leave_chat()">Leave chat</button>
                </p>
            </div>
        </div>

        <script src="libs/vue.global.js"></script>
        <script src="libs/axios.js"></script>
        <script>
        var {createApp, reactive} = Vue  // "import"
        //axios wird automatisch importiert

        function setup() {
            var state = reactive({
                page: "ask_username",
                username: "",
                messages: [],
                message: "",
            })

            async function get_messages() {
                // FIXME 3: Lade die Liste der Nachrichten vom Back-End. 
                // Betrachte dazu die Datei chat_api.py
                try {
                    const response = await axios.get('/api/chat/')
                    state.messages = response.data
                } catch (error) {
                    console.error(error)
                }
            }
            // FIXME 7:
            setInterval(get_messages, 3000)

            async function join_chat() {
                try {
                    await axios.post('/api/update/', {
                        username: state.username,
                        action:"joined",
                    });
                    state.page = 'chat'
                    get_messages();
                } 
                catch (error) {
                    console.error(error);
                }
            }

            async function send_message() {
                // FIXME 5: Sende die Nachricht an das Back-End.
                // Betrachte dazu die Datei chat_api.py
                if (state.message.trim() === "") {
                    return; 
                }
                try {
                    await axios.post('/api/chat/', {
                        username: state.username,
                        message: state.message
                    });
                    state.message = ""; 
                    get_messages();
                } 
                catch (error) {
                    console.error(error);
                }
            }

            // FIXME 6.2: Funktion für das Verlassen des Chats.
            async function leave_chat() {
                try {
                    await axios.post('/api/update/', {
                        username: state.username,
                        action:"left",
                    });
                    state.page = 'ask_username'
                    state.username = ""
                } 
                catch (error) {
                    console.error(error);
                }
            }



            return {
                "state": state,
                "join_chat": join_chat,
                "send_message": send_message,
                "leave_chat":leave_chat,
            }
        }

        var app = createApp({"setup": setup})
        app.mount("#app")
    </script>
    </body>
</html>
